<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>NCU</title>
</head>

<body>
    {{ message }}
     <div class="row">
        <div className="col-4"></div>
        <div className="col-4">
            <h2>NCU Technologies Backend</h2>
            <h3>Server running on port 3001</h3>
        </div>
        <div className="col-4"></div>
    </div>
   
</body>
   
</html>